button[class^="data-balloon-"],
button[class*=" data-balloon-"] {
  overflow: visible;
}

[class^="data-balloon-"][rel],
[class*=" data-balloon-"][rel] {
  position: relative;
  cursor: pointer;
}

[class^="data-balloon-"][rel]:after,
[class*=" data-balloon-"][rel]:after {
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  text-indent: 0;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: 15px;
  background: #ddd;
  border-radius: 2px;
  color: #000;
  border-radius: 2px;
  content: attr(rel);
  padding: 0.5em 1em;
  position: absolute;
  z-index: 10;
  width: 65ch;
}

[class^="data-balloon-"][rel]:before,
[class*=" data-balloon-"][rel]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #ddd;
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  content: "";
  position: absolute;
  z-index: 10;
}
[class^="data-balloon-"][rel]:hover:before,
[class*=" data-balloon-"][rel]:hover:before,
[class^="data-balloon-"][rel]:hover:after,
[class*=" data-balloon-"][rel]:hover:after {
  opacity: 1;
  pointer-events: none;
}
.data-balloon-pos-up[rel]:hover:after,
.data-balloon-pos-down[rel]:hover:after {
  transform: translate(-50%, 0);
}
.data-balloon-pos-up[rel]:hover:before,
.data-balloon-pos-down[rel]:hover:before {
  transform: translate(-50%, 0);
}
.data-balloon-pos-left[rel]:after {
  left: 0;
}
.data-balloon-pos-left[rel]:before {
  left: 5px;
}
.data-balloon-pos-right[rel]:after {
  right: 0;
}
.data-balloon-pos-right[rel]:before {
  right: 5px;
}
.data-balloon-pos-left[rel]:hover:after,
.data-balloon-pos-right[rel]:hover:after {
  transform: translate(0, 0);
}
.data-balloon-pos-left[rel]:hover:before,
.data-balloon-pos-right[rel]:hover:before {
  transform: translate(0, 0);
}
.data-balloon-pos-up[rel]:before,
.data-balloon-pos-up[rel]:after {
  bottom: 100%;
  transform-origin: top;
  transform: translate(0, 4px);
}
.data-balloon-pos-up[rel]:after {
  margin-bottom: 10px;
}
.data-balloon-pos-up[rel]:before,
.data-balloon-pos-up[rel]:after {
  left: 50%;
  transform: translate(-50%, 4px);
}
.data-balloon-pos-down[rel]:before,
.data-balloon-pos-down[rel]:after {
  top: 100%;
  transform: translate(0, calc(4px * -1));
}
.data-balloon-pos-down[rel]:after {
  margin-top: 10px;
}
.data-balloon-pos-down[rel]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ddd;
}
.data-balloon-pos-down[rel]:after,
.data-balloon-pos-down[rel]:before {
  left: 50%;
  transform: translate(-50%, calc(4px * -1));
}
.data-balloon-pos-left[rel]:hover:after,
.data-balloon-pos-right[rel]:hover:after {
  transform: translate(0, -50%);
}
.data-balloon-pos-left[rel]:hover:before,
.data-balloon-pos-right[rel]:hover:before {
  transform: translate(0, -50%);
}
.data-balloon-pos-left[rel]:after,
.data-balloon-pos-left[rel]:before {
  right: 100%;
  top: 50%;
  transform: translate(4px, -50%);
}
.data-balloon-pos-left[rel]:after {
  margin-right: 10px;
}
.data-balloon-pos-left[rel]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #ddd;
}
.data-balloon-pos-right[rel]:after,
.data-balloon-pos-right[rel]:before {
  left: 100%;
  top: 50%;
  transform: translate(calc(4px * -1), -50%);
}
.data-balloon-pos-right[rel]:after {
  margin-left: 10px;
}
.data-balloon-pos-right[rel]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ddd;
}
.data-balloon-length-small[rel]:after {
  width: 80px;
}
.data-balloon-length-medium[rel]:after {
  width: 150px;
}
.data-balloon-length-large[rel]:after {
  width: 260px;
}
.data-balloon-length-xlarge[rel]:after {
  width: 380px;
}
@media screen and (max-width: 768px) {
  .data-balloon-length-xlarge[rel]:after {
    width: 90vw;
  }
}
.data-balloon-length-fit[rel]:after {
  width: 100%;
}
