html {
  --color-default: #0078ae;
  --color-h1: #0078ae;
  --color-h2: #0078ae;
  --color-h3: #0078ae;
  --color-highlight: #0078ae;
  --color-body: rgb(17 24 39); /* text-gray-900 */
  --bg-cover-image: url(https://www.dvrpc.org/static/homepagebanner.avif);
  --height-banner: 400px;
}
main {
  @apply text-[color:var(--color-body)];
}
main hr {
  @apply my-8 border-t border-solid border-gray-400;
}
main a {
  @apply text-inherit underline;
}
main h2 {
  @apply clear-both my-4 text-2xl font-bold text-stone-600;
}
main h3 {
  @apply clear-both my-4 text-xl font-bold text-stone-600;
}
main h4 {
  @apply my-4 text-lg font-bold;
}
main p {
  @apply my-4;
}
main article > p:first-child,
main p.lead {
  @apply text-2xl;
}
main ol {
  @apply my-4 list-decimal pl-4;
}
main ol[type="A"] {
  list-style: upper-alpha;
}
main ul {
  @apply my-4 list-disc pl-4;
}
main dl {
  @apply grid grid-cols-[max-content_1fr] gap-2;
}
main dt {
  @apply font-bold;
}
main table {
  @apply not-italic;
}
main thead {
  @apply align-bottom;
}
main tbody {
  @apply border-t-2 border-b-2 border-gray-300;
}
main tr > *:first-child {
  @apply pl-0;
}
main th,
main td {
  @apply border-b border-gray-300 px-2 py-1 text-left leading-5;
}
main .size-medium {
  @apply ml-4 max-w-xl;
  max-width: 15rem;
}
main .fright,
main .alignright {
  @apply float-right clear-right mr-0 ml-8 mt-2;
}
main .fleft,
main .alignleft {
  @apply float-left clear-left ml-0 mr-8;
}
main .clear-left {
  clear: left;
}
main .clear-right {
  clear: right;
}
main .clear-both {
  clear: both;
}
main .group__inner-container {
  @apply flex flex-wrap items-start justify-around;
}
main .group__inner-container > * {
  @apply my-8 text-center;
}
main figure {
  @apply mb-4 flex max-w-sm flex-col items-center justify-center rounded border border-solid border-gray-400 bg-white p-1 italic;
}
main figure.table {
  @apply w-full border-none p-0;
}
main .alignfull > table {
  @apply w-full;
}
main figcaption {
  @apply p-2 pt-1 text-sm;
}
main .simple figcaption {
  @apply pl-0 pb-0;
}
main .gallery {
  @apply max-w-full border-none bg-gray-200 p-2;
}
main .blocks-gallery-grid {
  @apply m-0 grid list-none flex-wrap gap-2 p-0;
}
main .columns-2 .blocks-gallery-grid {
  @apply grid-cols-2;
}
main .columns-3 .blocks-gallery-grid {
  @apply grid-cols-3;
}
main .columns-4 .blocks-gallery-grid {
  @apply grid-cols-4;
}
main .blocks-gallery-item {
  @apply flex justify-center;
}
main .columns-2 .blocks-gallery-item:nth-of-type(2n + 1):last-of-type {
  @apply col-span-2;
}
main .columns-3 .blocks-gallery-item:nth-of-type(3n + 1):last-of-type {
  @apply col-span-3;
}
main .columns-4 .blocks-gallery-item:nth-of-type(4n + 1):last-of-type {
  @apply col-span-4;
}
main .blocks-gallery-item figure {
  @apply p-4 text-center;
}
main .simple,
main .simple figure {
  @apply rounded-none border-none bg-transparent p-0;
}
main img {
  @apply block max-w-full;
}
main .alignfull,
main .alignwide {
  @apply mx-auto max-w-full;
}
main .text-center {
  text-align: center;
}
main .sm {
  @apply text-sm text-red-700;
}
main .buttons {
  @apply flow-root;
}
main .buttons > div {
  @apply float-left mr-8;
}
main .button a,
main .btn a,
main button.btn,
main a.btn {
  @apply inline-block rounded border-2 border-solid border-[color:var(--color-default)] p-2 text-center align-middle text-[color:var(--color-default)] no-underline transition duration-150 ease-in-out hover:brightness-125;
}
main .button a,
main .btn-primary a,
main button.btn-primary,
main a.btn-primary {
  @apply border-[color:var(--color-h1)] bg-[color:var(--color-h1)] text-white;
}
main details {
  @apply my-2 border border-gray-300 bg-white;
}
main details > * {
  @apply mx-4;
}
main details > summary {
  @apply relative m-0 block cursor-pointer border-0 bg-gray-200 p-4 pr-14 text-left text-lg outline-none hover:bg-gray-300;
}
main details > summary::after {
  @apply absolute top-4 right-4 text-3xl leading-none text-gray-500 content-["\002B"];
}
main details[open] > summary::after {
  @apply content-["\2212"];
}
main summary::-webkit-details-marker {
  @apply hidden;
}
main .list-group {
  @apply mb-5 overflow-hidden rounded-sm border-0 bg-gray-50 p-0 shadow print:!overflow-visible print:!bg-transparent print:!shadow-none;
}
main .list-group > .footer,
main .list-group > footer {
  @apply -mx-4 -mb-4 border-t border-gray-200 bg-gray-100 py-2 px-4 text-right font-bold;
}
main .list-group > li {
  @apply relative -mb-px block border border-gray-200 bg-gray-50 py-2 px-4 print:!bg-transparent;
}
main .list-group-heading:first-child,
main .list-group-item:first-child {
  @apply rounded-t-sm;
}
main .list-group-heading:last-child,
main .list-group-item:last-child {
  @apply mb-0 rounded-b-sm;
}
main .list-group-heading {
  @apply text-sm font-bold uppercase text-gray-700;
}
main a.list-group-item {
  @apply text-gray-700;
}
main a.list-group-item .list-group-item-heading {
  @apply text-gray-800;
}
main a.list-group-item:focus,
main a.list-group-item:hover {
  @apply bg-gray-100 text-gray-700 no-underline;
}
main .btn[disabled],
main .btn.disabled,
main .list-group-item.disabled,
main .list-group-item.disabled:focus,
main .list-group-item.disabled:hover {
  @apply cursor-not-allowed bg-gray-300 text-gray-500;
}
main .list-group-item.disabled .list-group-item-text,
main .list-group-item.disabled:focus .list-group-item-text,
main .list-group-item.disabled:hover .list-group-item-text {
  @apply text-gray-500;
}
main .list-group-item.active,
main .list-group-item.active:focus,
main .list-group-item.active:hover {
  @apply z-10 border-[color:var(--color-h1)] bg-[color:var(--color-h1)] text-white;
}
main .list-group-item.active .list-group-item-text,
main .list-group-item.active:focus .list-group-item-text,
main .list-group-item.active:hover .list-group-item-text {
  @apply text-blue-300;
}
main .list-group-item-heading {
  @apply mt-0 mb-1;
}
main .list-group-item-text {
  @apply mb-1 leading-tight;
}
main .card {
  @apply mb-4 overflow-hidden rounded-sm border-none bg-gray-50 p-4 shadow;
}
main .card > h2:first-child {
  @apply -m-4 mb-2 bg-[color:var(--color-h2)] py-2 px-4 text-white;
}
main .card > h3:first-child {
  @apply -m-4 mb-0 bg-[color:var(--color-h3)] py-2 px-4 text-white;
}
main .card > h2:first-child + *,
main .card > h3:first-child + * {
  @apply mt-0;
}
main .card > .footer,
main .card > footer {
  @apply -m-4 mt-0 border-t border-gray-100 bg-gray-50 py-1 px-4 text-right font-bold;
}
main .card .list-group {
  @apply -mx-4 shadow-none;
}
main .card .list-group > .list-group-heading,
main .card .list-group > .list-group-item {
  @apply rounded-none border-l-0;
}
main .card > :first-child + .list-group {
  @apply mt-0;
}
main .card .list-group:last-child {
  @apply -mb-4;
}
main .list-group > h2:first-child {
  @apply m-0 bg-[color:var(--color-h2)] py-2 px-4 text-white;
}
main .list-group > h3:first-child {
  @apply m-0 bg-[color:var(--color-h3)] py-2 px-4 text-white;
}
main label {
  @apply block pt-4 pb-1 font-bold;
}
main input,
main .form-control,
main select,
main textarea {
  @apply block w-full rounded-sm border border-gray-200 bg-gray-50 bg-none py-2 px-4 text-base leading-6 text-black text-opacity-80 transition-all;
}
main .btn[disabled] {
  @apply cursor-wait;
}
main input[type="checkbox"] {
  appearance: none;
  background-color: white;
  margin: 0;
  color: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.1rem solid currentColor;
  border-radius: 0.15em;
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0;
  position: relative;
}
main input[type="checkbox"]:checked::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em var(--color-default);
  background-color: CanvasText;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
form label[for] {
  overflow: visible;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
form
  label:has(+ input[required], + select[required], + textarea[required]):after {
  content: " *";
  color: var(--color-default);
  font-size: 0.8em;
  vertical-align: text-top;
}
form
  label:has(
    + input[required],
    + select[required],
    + textarea[required]
  ):before {
  position: absolute;
  left: 100%;
  content: "Required";
  background: buttonface;
  color: buttontext;
  padding: 0.1rem 0.3rem;
  margin-left: 0.5rem;
  font-weight: normal;
  font-size: 0.8rem;
  opacity: 0;
  outline: 1px solid rgba(0, 0, 0, 0.4);
  visibility: hidden;
  transition: all 0.4s ease 0.4s;
  border-radius: 0.125rem;
}
form
  label:has(
    + input[required],
    + select[required],
    + textarea[required]
  ):hover:before {
  opacity: 1;
  visibility: visible;
}

.pullquote {
  border: 0px;
  min-width: 100%;
  font-style: normal;
}

.pullquote > blockquote {
  border-color: #91bedc;
  border-top-width: 1.6px;
  border-bottom-width: 1.6px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-radius: 0px;
}

.pullquote > blockquote > p {
  margin: 0px;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 27px;
  line-height: 32px; /* 24px */
  font-weight: 300;
}

.pullquote > blockquote::before {
  background-color: white;
  color: #91bedc;
  content: "❛❛";
  font-size: 2.5rem;
  margin-top: -0.25rem;
  line-height: 1.25rem;
  position: absolute;
  padding-right: 0.5rem;
}

@media (max-width: 640px) {
  .pullquote > blockquote > p {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5rem; /* 24px */
  }
}

@media (min-width: 640px) {
  .homeSwiper > .swiper-pagination {
    text-align: left;
  }
}

.homeSwiper > .swiper-pagination > .swiper-pagination-bullet {
  background-color: transparent !important;
  border: solid 1px;
  border-color: #05688d;
  opacity: 1;
  height: 10px;
  width: 10px;
  margin-right: 12px;
}

.homeSwiper > .swiper-pagination > .swiper-pagination-bullet:hover {
  transform: scale(1.2);
}

.homeSwiper > .swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #05688d !important;
  border: none;
}

@media (max-width: 640px) {
  .homeSwiper > .swiper-pagination {
    text-align: left;
  }
}
