@each $i in 0, 1, 2 {
  input:nth-of-type(calc($i + 1)):checked ~ ul li:first-of-type {
    margin-left: calc($i * -100%);
  }
  input:nth-of-type(calc($i + 1)):checked
    ~ div
    label:nth-of-type(calc($i + 1)):after {
    opacity: 1;
  }
  input:nth-of-type(calc($i + 1)):checked ~ aside > label:nth-of-type($i) {
    display: block;
    left: 0;
    right: auto;
    transform: rotate(45deg);
    box-shadow: inset 5px -5px 0 1px #777;

    &:hover {
      box-shadow: inset 5px -5px 0 2px #666;
    }
  }
  input:nth-of-type(calc($i + 1)):checked
    ~ aside
    > label:nth-of-type(calc($i + 2)) {
    display: block;
    right: 0;
    left: auto;
    transform: rotate(225deg);
    box-shadow: inset 5px -5px 0 1px #666;
  }
}
