/* global styles */
:root {
  --color-h1: #8b6c4b;
  --color-h2: #7b6b5b;
  --color-h3: #666;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-feature-settings: "kern", "salt", "liga", "tnum";
  font-variant-ligatures: contextual common-ligatures;
  line-height: 1.4;
}
.sans-serif {
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
}
main h1 {
  color: var(--color-h1);
}
main h2 {
  color: var(--color-h2);
}
main h3 {
  color: var(--color-h3);
}
