.ConnectWithUs {
  display: flex;
  justify-content: flex-end;
  color: #0078ae;
  font-weight: bold;
  padding: 0;

  & li {
    display: inline;
    margin: 0 9px;
  }

  & a {
    display: block;
  }
}
.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  background: transparent url("https://www.dvrpc.org/img/homepage/sprites.svg")
    no-repeat;
  background-size: 139px 18px;
  height: 18px;
  width: 18px;
  text-indent: -9999em;
}

.icon-search {
  background-position: 1px 0;
  padding: 0;
}

.icon-translate {
  background-position: 0 0;
  padding: 0;
}
.icon-fb {
  background-position: -102px 0;
}

.icon-twitter {
  background-position: -65px 0;
}

.icon-linkedin {
  background-position: -121px 0;
}

.icon-instagram {
  background-position: -83px 0;
}
.icon-youtube {
  background-position: -38px 0;
  width: 26px;
}
