h3 {
  color: #624a74;
}

.chart-wrapper {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.chart-title {
  text-align: center;
  margin: 5px 0;
}

.chart-subtitle {
  text-align: center;
  font-size: 0.75rem;
  padding-top: 5px;
  margin: 0;
  font-weight: 500;
}

.overflow {
  overflow-x: auto;
}

.centered {
  text-align: center;
}

.first-row {
  display: block;
  width: 20ch;
  font-weight: 700;
  border-left: none;
}

.table {
  font-size: 0.75rem;
  margin: 0;
}

td {
  border-left: 1px solid #ddd;
}

.industry-cell {
  border-bottom: none;
}

.header {
  padding: 9px 18px;
  font-size: 21px;
  font-weight: 700;
  color: #fff !important;
  background-color: #673091;
}
